{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
	<div class="client-quotes">
	{% for quote in particle.quotes %}
		<p>"{{ quote.quote|raw }}" - <span class="yell">{{ quote.client|raw }}, {{ quote.location|raw }}</span></p>
	{% endfor %}
	</div>
{% endblock %}