{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
	<div class="newsletter-content">
		<div class="g-grid">
			{% for newsletter in particle.newsletters|reverse %}
				<div class="newsletter">
					<h4>{{ newsletter.title|raw }}</h4>
					{% set aa = newsletter.date|date('d')%}
					{% set ab = newsletter.date|date('S') %}
                    {% set ac = newsletter.date|date('F Y') %}
					<p class="date">{{ aa }}<sup>{{ ab }}</sup> {{ ac }}</p>
					<p>{{ newsletter.intro| raw }}</p>
					<a href="{{ newsletter.newletter_file|url }}" target="_blank" class="news-link"></a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}