/*** KEEP DESKTOP ***/

.g-container {
  //min-width: 943px;
}

a {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/*** FONTS ***/

body {
  font-family: georgia;
  font-size: 16px;
  line-height: 1.4em;
  color: #383838;
  background: #FFF;
  //min-width: 960px;
}

body #g-top, body #g-slip {
  font-size: 14px;
}

/*** HEADINGS ***/

h2 {
  font-family: georgia;
  font-size: 32px;
  margin-top: 83px;
  line-height: 26px;
  margin-bottom: 20px;
  text-align: center;
  color: #003e24;
}

h3 {
  font-family: georgia;
  font-size: 26px;
  color: #003e24;
  margin-bottom: 40px;
  margin-top: 0;
}

h4 {
  font-family: georgia;
  color: #FFF;
  font-size: 22px;
  margin-bottom: 45px;
}

h5 {
  font-family: georgia;
  font-size: 22px;
  color: #003e24;
  margin-bottom: 35px;
  margin-top: 0;
}

/*** RESPONSIVE ***/

.tab-show, .mob-show {
  display: none;
}

@media(min-width: 960px){
  .tab-show {
    display: none!important;
  }
}

@media(min-width: 768px){
  .mob-show, ul.nav.menuresp-menu {
    display: none!important;
  }
}

.responsive-menu .g-content {
  margin: 0;
  padding: 0;
}

/*** BACKGROUNDS ***/

#g-header {
  background: #00663c;
  z-index: 99999;
}

section#g-slip {
  background-color: #003e24;
  color: #fff;
}

#g-page-surround {
  box-shadow: none;
}

section#g-lowest {
  background-color: #00673c;
  color: #fff;
  padding: 25px 0;
  margin-top: 90px;
}

.home section#g-lowest, .client-gallery section#g-lowest, .bravest-patients section#g-lowest, .champion-slimmers section#g-lowest {
  margin-top: 0px;
}

#g-footer {
  background: url(/bv/images/bgs/footer-bg.jpg);
  color: #FFF;
  border-top: none;
  background-position: center;
  background-size: cover;
}

/*** UNIVERSAL ***/

.item-page > div > p, .item-page > div > h3 {
  margin-right: 25px;
  margin-left: 25px;
}

.item-page > div > h3 {
  margin-top: 35px;
}

.item-page > div > img + h3 {
  margin-top: 0;
}

.item-page > div ul > ul {
  margin-left: 25px;
}

.item-page > div ul {
  margin: 0 0 15px;
}

.item-page > div > ul {
  margin: 0 25px 30px;
}

.item-page > div ul li {
  list-style: none;
  margin-bottom: 15px;
  padding-left: 25px;
  background-image: url(../../../../images/icons/bull.png);
  background-repeat: no-repeat;
  background-position: left 5px;
  color: #00673C;
}

.item-page > div .tri-split ul li {
  margin-bottom: 5px;
}

.item-page h2 {
  margin: 0 0 55px;
  text-align: center;
}

p {
  margin: 0 0 15px 0;
}

.yell {
  color: #e1c721!important;
}

a.readmore {
  font-style: italic;
  display: table;
  color: #003e24;
}

.readmore:hover {
  color: #e1c721;
}

.social > a {
  display: block;
  margin-right: 13px;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}

.fb {
  background-image: url(/bv/images/icons/fbc.png);
  height: 14px;
  width: 8px;
}

.tw {
  background-image: url(/bv/images/icons/twc.png);
  height: 13px;
  width: 17px;
  margin-top: 1px;
  margin-right: 0!important;
}

.fb:hover {
  background-image: url(/bv/images/icons/fbd.png);
}

.tw:hover {
  background-image: url(/bv/images/icons/twd.png);
}

.fbb {
  background-image: url(/bv/images/icons/fb.png);
  height: 18px;
  width: 10px;
}

.twb {
  background-image: url(/bv/images/icons/tw.png);
  height: 17px;
  width: 21px;
  margin-top: 1px;
  margin-right: 0!important;
}

.fbb:hover {
  background-image: url(/bv/images/icons/fbb.png);
}

.twb:hover {
  background-image: url(/bv/images/icons/twb.png);
}

a.grn-butt {
  background-color: #003e24;
  color: #FFF;
  padding: 20px 55px;
  font-size: 16px;
}

a.grn-butt:hover {
  background-color: #e1c721;
}

.feeds h2 {
  text-align: left;
}

.off-split {
  overflow: hidden;
  text-align: justify;
}

.our-history .off-split {
  margin: 0 25px;
}

.off-split > div {
  width: 61%;
  margin-right: 7%;
  float: left;
}

.off-split > div:last-child {
  width: 32%;
  margin-right: 0!important;
}

.item-page .off-split > div {
  margin-right: 5%;
}

.item-page .off-split > div:last-child {
  font-style: italic;
  width: 34%;
}

section#g-container-main {
  padding-top: 45px;
}

.item-page > div > img {
  width: 100%;
  margin: 0 0 70px;
}

.item-page > div > p:first-of-type {
  padding: 5px 0 5px 25px;
  margin: 0 25px 60px;
  border-left: 5px solid #003e24;
}

.home .item-page > div > p:first-of-type, .meet-the-team .item-page > div > p:first-of-type, body.services .item-page > div > p:first-of-type{ //, .testimonials .item-page > div > p:first-of-type {
  padding: 0;
  margin: 0 0 15px;
  border-left: none;
}

.meet-the-team .item-page > div > p:first-of-type, body.services .item-page > div > p:first-of-type {
  margin: 0 0 65px;
}

.tri-split {
  margin: 0 25px;
}

.tri-split > div {
  width: 34%;
  margin-right: 6%;
  float: left;
  text-align: justify;
}

.tri-split > div:last-child {
  margin-right: 0;
  width: 20%;
}

.tri-split > div:last-child img {
  width: 100%;
}

/*** TOP ***/

.top .g-content {
  padding: 0 0.938rem;
  margin: 0 0.625rem;
}

.top-strip {
  overflow: hidden;
  padding: 17px 0;
}

.top-strip > div {
  float: left;
}

.top-strip > div:last-child {
  float: right;
}

span.line {
  display: inline-block;
  width: 1px;
  background-color: #383838;
  height: 12px;
  margin: 0 10px -2px;
}

.top-strip p {
  margin: 0;
}

.top-strip > div:last-child > * {
  float: left;
  font-weight: 600;
  color: #fb1414;
  font-size: 15px;
}

.top-strip .social {
  margin-left: 20px;
  margin-top: 3px;
}

/*** HEADER ***/

.head:after {
  content: '';
  display: table;
  clear: both;
}
.head > a {
  float: left;
}

.head > div {
  float: right;
  margin-top: 17px;
}

.head > div p {
  text-align: right;
  color: #e1c721;
  font-size: 18px;
}

ul.nav.menumain-menu {
  margin: 20px 0 0;
}

ul.nav.menumain-menu:after {
  content: '';
  display: table;
  clear: both;
}

ul.nav.menumain-menu > li {
  float: left;
  font-size: 16px;
  margin-right: 40px;
  position: relative;
}

ul.nav.menumain-menu > li:last-child {
  margin-right: 0;
}

#g-header ul.nav.menumain-menu > li a {
  color: #FFF;
}

#g-header ul.nav.menumain-menu > li a:hover {
  color: #e1c721;
}

ul.nav.menumain-menu > li ul {
  position: absolute;
  display: none;
  padding-top: 10px;
}

ul.nav.menumain-menu > li.deeper.parent {
  background-image: url(/bv/images/icons/arr.png);
  background-repeat: no-repeat;
  background-position: right 9px;
  padding-right: 13px;
}

ul.nav.menumain-menu > li ul > li {
  margin-bottom: 0;
}

ul.nav.menumain-menu > li ul > li a {
  background-color: #003e24;
  display: block;
  padding: 7px 15px;
  border-bottom: 1px solid #005834;
  white-space: nowrap;
}

ul.nav.menumain-menu > li ul > li:last-child a {
  border-bottom: 0;
}

/*** SLIP QUOTE ***/

.customslip-quote p {
  margin: 0;
}

/*** SLIDESHOW ***/

section#g-showcase {
  padding: 0;
}

#g-showcase .g-container {
  width: 100%;
}

#g-showcase .g-content {
  padding: 0;
  margin: 0;
}

div#rev_slider_1_1_wrapper, div#rev_slider_1_1, .slotholder * {
  max-height: 375px!important;
  min-height: 375px!important;
  width: 100%!important;
}

/*** BANNER ***/

.banner h2 {
  width: 1150px;
  margin: 88.5px auto 0;
  text-align: left;
}

.banner {
  height: 215px;
  overflow: hidden;
  background-image: url(/bv/images/banners/our-hist-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bebington .banner, .heswall .banner, .wallasey .banner {
  background-image: url(/bv/images/banners/find-us-banner.jpg);
}

.meet-the-team .banner {
  background-image: url(/bv/images/banners/banner-2.jpg);
}

.vacinations .banner {
  background-image: url(/bv/images/banners/banner-3.jpg);
}

.client-gallery .banner, .champion-slimmers .banner, .bravest-patients .banner  {
  background-image: url(/bv/images/banners/banner-4.jpg);
}

.contact-us .banner {
  background-image: url(/bv/images/banners/contact-banner.jpg);
}

.newsletter .banner {
  background-image: url(/bv/images/banners/treatments-banner.jpg);
}

.testimonials .banner {
  background-image: url(/bv/images/banners/testimonials-banner.jpg);
}

/*** HOME MAIN ***/

.home section#g-container-main {
  background-image: url(../../../../images/pics/home-main.jpg);
  background-repeat: no-repeat;
  background-position: 0 5px;
  border-bottom: 1px solid #ccc;
  padding: 0;
}

.home section#g-container-main .g-container {
  width: 100%;
}

.home main#g-main-mainbody {
  float: right;
  width: 50%;
  background-color: #FFF;
}

div.home {
  text-align: center;
  padding: 80px;
}

div.home h2 {
  font-size: 46px;
  line-height: 36px;
}

.home a.grn-butt {
  display: table;
  margin: 50px auto 0;
}

.home .customservice-intros {
  overflow: hidden;
  border-top: none;
  margin-top: 0;
}

/*** SERVICE INTROS ***/

.customservice-intros {
  overflow: hidden;
  border-top: 1px solid #ccc;
  margin-top: 25px;
}

.customservice-intros > p {
  text-align: center;
}

.serv-intros {
  overflow: hidden;
  margin:  65px 0;
}

.serv-intros > div {
  width: 23.6%;
  float: left;
  margin-right: 1.85%;
}

.serv-intros > div:last-child {
  margin-right: 0;
}

.serv-intros h2 {
  text-align: center;
}

.serv-intros img {
  margin-bottom: 65px;
}

.serv-intros p {
  text-align: justify;
  padding-right: 15px;
}

.serv-intros .readmore {
  margin: 35px auto 0;
}

/*** SERVICES ***/

div.services {
  overflow: hidden;
  margin: 65px 0 0;
}

div.services > div {
  width: 23.6%;
  float: left;
  margin-right: 1.85%;
  margin-bottom: 40px;
}

div.services > div:nth-child(4n) {
  margin-right: 0;
}

div.services > div:nth-child(4n+1) {
   clear: left;
}

div.services > div:nth-last-child(-n+4) {
  margin-bottom: 0;
}

div.services h2 {
  text-align: center;
}

div.services img {
  margin-bottom: 65px;
}

div.services p {
  text-align: justify;
  padding-right: 15px;
}

div.services .readmore {
  margin: 35px auto 0;
}

/*** VIEWALL ***/

.viewall {
  overflow: hidden;
}

a.view-all {
  background-color: #003e24;
  color: #fff;
  padding: 15px 45px;
  font-size: 16px;
  display: table;
  float: left;
  margin: 0 3.8%;
}

a.view-all:hover {
  background-color: #e1c721;
}

.viewall span {
  width: 37%;
  height: 1px;
  background-color: #ccc;
  display: table;
  float: left;
  margin-top: 25.5px;
}

/*** BOTTOM BANNER ***/

.home section#g-bottom {
  margin-top: 90px;
}

section#g-bottom .g-container {
  width: 100%;
}

section#g-bottom .g-content {
  margin: 0;
  padding: 0;
}

/*** FIND US INTRO ***/

.find-us-intro {
  overflow: hidden;
  margin: 0 60px;
}

.find-us-intro > div {
  width: 65%;
  float: left;
}

.find-us-intro > div:last-child {
  margin-right: 0;
  float: right;
  width: auto;
}

.find-us-intro h4 {
  margin-top: 22px;
}

a.location-butt {
  background-color: #003e24;
  color: #fff;
  padding: 15px 45px;
  font-size: 16px;
  display: table;
  margin-top: 71px;
  position: relative;
}

a.location-butt:after {
  content: '';
  position: absolute;
  display: table;
  background-image: url(/bv/images/bgs/slip-bg.png);
  width: 96px;
  height: 71px;
  top: -71px;
  left: 84px;
}

a.location-butt:hover {
  background-color: #e1c721;
}


/*** FOOTER ***/

#g-footer {
  padding: 39px 0;
}

.foot {
  overflow: hidden;
}

.foot > div:nth-child(2) {
  width: 44%;
  margin-right: 0;
}

.foot > div {
  width: 18%;
  margin-right: 4%;
  float: left;
}

.foot > div:last-child {
  float: right;
  width: 25%;
  margin-right: 0;
  font-size: 13px;
}


.foot > div:first-child > img {
  float: left;
}

.foot .social {
  float: left;
  margin-top: 60px;
  margin-left: 15px;
  margin-bottom: 25px;
}

.foot > div:first-child > p {
  clear: left;
}

.foot > div:first-child b {
  font-size: 14px;
}

.address > div {
  float: left;
  width: 27%;
  margin-right: 9.5%;
  font-size: 13px;
}

.address > div:nth-child(3) {
  margin-right: 0;
}

.address a {
  color: #FFF;
}

.address a:hover {
  color: #e1c721;
}

ul.nav.menuservice-menu {
  margin: 0;
}

ul.nav.menuservice-menu > li {
  float: left;
  width: 50%;
  background-image: url(/bv/images/icons/bull.png);
  background-repeat: no-repeat;
  background-position: left 8px;
  padding-left: 8px;
  margin-bottom: 2px;
}

ul.nav.menuservice-menu > li:nth-child(2n) {
  margin-right: 0;
  width: 34%;
  float: right;
}

ul.nav.menuservice-menu > li:nth-child(2n+1) {
  clear: left;
}

ul.nav.menuservice-menu > li a {
  color: #FFF;
}

ul.nav.menuservice-menu > li a:hover {
  color: #e1c721;
}

/*** COPYRIGHT ***/

section#g-copyright {
  background-color: #012C19;
  color: #fff;
  font-size: 12px;
}

.copy .copy {
  overflow: hidden;
}


.copy .copy > p {
  float: left;
  width: 35%;
  margin: 16px 0 0;
}

.copy .copy > p:nth-child(2) {
  width: 30%;
  text-align: center;
  margin: 0;
}

.copy .copy > p:last-child {
  text-align: right;
}

section#g-copyright .g-content {
  padding: 3px 0.938rem;
}

/*** MEET THE TEAM ***/

.meet-the-team .item-page h2, body.services .item-page h2 {
  margin: 0 0 15px;
}

.meet-the-team .item-page > div > p:first-of-type, body.services .item-page > div > p:first-of-type {
  text-align: center;
}

.team {
  overflow: hidden;
  margin-bottom: 75px;
  padding-bottom: 75px;
  border-bottom: 1px solid #ccc;
}

.team h3 {
  font-family: georgia;
  font-size: 18px;
  font-style: italic;
  color: #FFF;
  display: table;
  background-color: #003e24;
  padding: 13px 30px;
  font-weight: 400;
  margin-bottom: 75px;
  position: relative;
}

.team h3:after {
  content: '';
  display: block;
  position: absolute;
  background-image: url(/bv/images/icons/box-dwn.png);
  width: 20px;
  height: 11px;
  top: 47px;
  left: 50%;
  margin-left: -10px;
}

.team > div {
  float: left;
  width: 31%;
  margin-right: 3.5%;
  margin-bottom: 50px;
}

.team > div:nth-child(3n+1) {
  margin-right: 0;
}

.team > div:nth-child(3n+2) {
  clear: left;
}

.team > div:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.team:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}

.team > div > img {
  margin-bottom: 40px;
}

.team h4 {
  color: #003e24;
  margin-top: 0;
  margin-bottom: 20px;
}

.team .pos {
  color: #003e24;
  margin-bottom: 30px;
  display: block;
  font-style: italic;
}

/*** FIND US ***/

.find-us {
  overflow: hidden;
}

.find-split > div {
  float: left;
  width: 64%;
  margin-right: 2%;
}

.find-split > div:nth-child(2) {
  margin-right: 0;
  width: 34%;
}

.bar {
  width: 100%;
  padding: 22px 0;
  background-color: #003e24;
  text-align: center;
  color: #FFF;
  font-size: 22px;
  margin-bottom: 20px;
}

.bar .tel {
  color: #FFF;
}

.half-split > div {
  float: left;
  width: 50%;
}

.half-split a {
  color: #383838;
}

.find-split .bt-googlemaps {
  margin-bottom: 70px;
}

.find-split .social {
  float: right;
  margin-top: 163px;
}

/*** FIND US MAPS ***/

.bebington section#g-lowest, .heswall section#g-lowest, .wallasey section#g-lowest, .contact-us section#g-lowest {
  margin-top: 0;
}

.bebington section#g-mainbottom, .heswall section#g-mainbottom, .wallasey section#g-mainbottom, .contact-us section#g-mainbottom {
  background-color: #F7F7F7;
  padding: 50px 0;
  margin-top: 50px;
}

.map-split {
  overflow: hidden;
}

.map-split > div {
  width: 31.66%;
  float: left;
  margin-right: 2.5%;
}

.map-split > div:last-child {
  margin-right: 0;
}

.map-split .bar {
  margin-bottom: 0;
}

.map-split .bar, .find-split > div:last-child .bar {
  background-color: #00673c;
}

.address-info {
  background-color: #FFF;
  padding: 30px;
  font-size: 15px;
}

.address-info a {
  color: #383838;
}

a:hover .bar {
  color: #e1c721;
}

/*** GALLERY ***/

section#g-gallery .g-container {
  width: 100%;
}

.g-block.gallery .g-content {
  margin: 10px;
  padding: 8px;
}

.gal {
  margin-bottom: 90px;
}

.gal:last-child {
  margin-bottom: 0;
}

.gal .intro {
  width: 1150px;
  margin: auto;
  margin-bottom: 50px;
}

.gal:last-child > ul {
  margin-bottom: 0!important;
  padding-bottom: 0!important;
}

ul.sigProClassic {
  margin-bottom: 0!important;
  padding-bottom: 0!important;
}

ul.sigProClassic li.sigProThumb {
  width: 20%;
  height: 370px;
  margin: 0;
}

li.sigProThumb * {
  width: 100%!important;
  background-size:  cover;
  height: 370px!important;
}

ul.sigProClassic li.sigProThumb span.sigProLinkOuterWrapper {
  float: none;
  margin: 0;
  padding: 0;
  background: none;
}

ul.sigProClassic li.sigProThumb span.sigProLinkWrapper {
  float: none;
  margin: 0;
  padding: 0;
  border: none;
}

img.sigProImg {
  width: 100%!important;
}

/*** NEWSLETTERS ***/

.item-page h4 {
  color: #003e24;
  margin-bottom: 0;
}

.date {
  margin-bottom: 15px;
  display: block;
  font-size: 14px;
}

div.newsletter {
  width: 32%;
  margin-right: 2%;
  margin-bottom: 40px;
}

div.newsletter:nth-child(3n) {
  margin-right: 0;
}

div.newsletter:nth-child(3n+1) {
  clear: left;
}

div.newsletter:nth-last-child(-n+3) {
  margin-bottom: 0;
}

a.news-link {
  display: table;
  width:  80px;
  height: 80px;
  background-image: url(/bv/images/icons/dload.png);
  background-repeat: no-repeat;
  background-position: center;
  margin:  auto;
}

a.news-link:hover {
  background-image: url(/bv/images/icons/dloadb.png);
}

/*** CONTACT ***/

.cont-split {
  overflow: hidden;
  width: 80%;
  margin: auto;
}

.cont-split > div {
  width: 44%;
  margin-right: 9.4%;
  float: left;
  box-sizing: initial;
  text-align: justify;
}

.cont-split > .times {
  margin-right: 0;
  padding-left: 2%;
  border-left: 5px solid #003e24;
}

.info {
  clear: both;
}

.cont-split h4 {
  width: 43%;
  float: right;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 600;
}

.times p:nth-child(odd) {
  background-color: #ddd;
}

.times p {
  margin: 0;
  padding:  4px 9px;
}

.info p:nth-child(-n+2) {
  margin-bottom: 5px;
}

.info p:nth-child(-n+3) a {
  float: right;
  color: #3d3d3d;
  font-size: 18px;
}

.opp-row {
  overflow: hidden;
  margin: 30px 0 15px;
}


.opp-row > div {
  float: right;
}

.opp-row a {
  color: #003e24;
}

/*** QUOTES ***/

.g-block.slip .g-content {
  padding: 0 0.938rem;
  margin: 0 0.625rem;
}

.moduletable.slip-quote {
  padding: 26px 0;
  background-image: url(/bv/images/bgs/slip-bg.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.moduletable.slip-quote .g-particle {
  width: 89%;
  position: relative;
  height: 22px;
  overflow: hidden;
}

.client-quotes {
  position: absolute;
  width: 100000px;
}

.client-quotes p {
  display: block;
  float: left;
  margin: 0;
  padding-right: 50px;
}

.client-quotes p span {
  display: inline-block;
}

/*** RESPONSIVE ***/

@media(max-width: 1418px) {
  div.home {
    padding: 80px 30px;
  }
}

/*** SMALL DESKTOP ***/

@media(max-width: 1199px) {

  /** TOP ***/

  .top-strip p {
    font-size: 12px;
  }

  .top-strip > div:last-child > * {
    font-size: 13px;
  }

  /*** MENU ***/

  ul.nav.menumain-menu > li {
    margin-right: 16px;
  }

  #g-header ul.nav.menumain-menu > li a {
    font-size: 15px;
  }

  /*** SLIDESHOW ***/

  div#rev_slider_1_1_wrapper, div#rev_slider_1_1, .slotholder * {
    max-height: 295px !important;
    min-height: 295px !important;
  }

  /*** BANNERS ***/

  .banner h2 {
    width: 910px;
  }

  /*** HOME MAIN ***/

  .home section#g-container-main {
    background-position: -210px 5px;
  }

  div.home {
    padding: 50px 20px;
  }

  /*** FIND US ***/

  .find-split .bt-googlemaps {
    height: 384px!important;
  }

  /*** SERVICES INTRO ***/

  .viewall span {
    width: 34.6%;
  }

  /*** FOOTER ***/

  .foot > div:last-child {
    width: 29%;
  }

  ul.nav.menuservice-menu > li:nth-child(2n) {
    width: 40%;
  }

  /*** COPYRIGHT ***/

  .copy .copy > p {
    width: 38%;
  }

  .copy .copy > p:nth-child(2) {
    width: 24%;
  }

  /*** GALLERY ***/

  ul.sigProClassic li.sigProThumb {
    height: 150px;
  }

  li.sigProThumb * {
    height: 150px !important;
  }

  /*** CONTACT ***/

  .cont-split > div {
    width: 43.8%;
  }

}

/*** TABLET ***/

@media(max-width: 959px){

  .tab-show {
    display: block;
  }

  .tab-hide {
    display: none!important;
  }

  /*** UNIVERSAL ***/

  section#g-lowest {
    margin-top: 0px;
  }

  .item-page > div > p:first-of-type {
    line-height: 1.3em;
  }

  /*** HEADING ***/

  .item-page h2 {
    margin: 0 0 42px;
  }

  h2 {
    margin-top: 7px;
  }

    /*** TOP ***/

  .top-strip > div:last-child > p {
    display: none;
  }

  .top-strip p {
    font-size: 11.5px;
  }

  span.line {
    margin: 0 6px -2px;
  }

  /*** HEADER ***/

  .head > a {
    float: left;
    margin-bottom: 20px;
    width: 250px;
  }

  .head > div {
    float: right;
    margin-top: 37px;
  }

  .head > .tab-show {
    float: none;
    clear: both;
    margin: 0;
  }

  /*** MENU ***/

  ul.nav.menumain-menu > li {
    margin-right: 33px;
  }

  /*** QUOTE SLIP ***/

  .moduletable.slip-quote .g-particle {
    width: 85%;
  }

  /*** SLIDESHOW ***/

  .moduletable.slider {
    height: 338px;
    background-image: url(/bv/images/slides/tab-slide.jpg);
    background-position: center;
    background-size: cover;
  }

  div#rev_slider_1_1_wrapper {
    display: none!important;
  }

  /*** BANNNER ***/

  .banner {
    height: 195px;
  }

  .banner h2 {
    width: 718px;
  }

  /*** HOME MAIN ***/

  .home section#g-container-main {
    background-image: none;
    border-bottom: none;
  }

  .home main#g-main-mainbody {
    float: none;
    width: 100%;
    background-color: #fff;
  }

  div.home {
    padding: 40px 20px 0;
  }

  div.home h2 {
    font-size: 42px;
    line-height: 36px;
  }

  /*** SERVICE INTROS ***/

  .serv-intros {
    margin: 65px auto;
    width: 81%;
  }

  .serv-intros > div {
    width: 48%;
    margin-right: 4%;
    margin-bottom: 50px;
  }

  .serv-intros > div:nth-child(2n+1) {
    clear: left;
  }

  .serv-intros > div:nth-child(2n) {
    margin-right: 0;
  }

  .serv-intros > div:nth-last-child(-n+2) {
    margin-bottom: 0;
  }

  .viewall span {
    width: 31.5%;
  }

  /*** FEEDS ***/

  .off-split > div {
    float: none;
    width: 100%;
    margin-right: 0;
  }

  .feeds.off-split > div {
    margin-bottom: 0;
  }

  .off-split > div:last-child {
    display: none;
  }

  .off-split > div h2 {
    text-align: center;
  }

  .feeds.off-split > div p {
    margin: 0 50px 30px;
  }

  .feeds.off-split img {
    display: block;
    margin: auto;
  }

  /*** FIND US SECTION ***/

  .find-us-intro {
    margin: 0 30px;
  }

  .find-us-intro > div {
    width: 53%;
    float: left;
  }

  /*** FOOTER ***/

  .foot > div:nth-child(2) {
    width: 68%;
    margin-right: 0;
  }

  .foot > div {
    width: 28%;
    margin-right: 4%;
    float: left;
  }

  .foot > div:last-child {
    display: none;
  }

  /*** BOTTOM BANNER ***/

  .custombottom-banner img {
    width: 100%;
  }

  /*** COPYRIGHT ***/

  .copy .copy > p {
    width: 51%;
  }

  .copy .copy > p:nth-child(2) {
    width: auto;
    float: right;
  }

  .copy .copy > p:last-child {
    display: none;
  }

  /*** MEET THE TEAM ***/

  .team h3 {
    margin-bottom: 45px;
  }

  .team > div {
    margin-bottom: 35px;
  }

  .item-page h4 {
    margin-bottom: 15px;
  }

  /*** PRACTICES ***/

  .find-split > div {
    width: 48.5%;
    margin-right: 3%;
  }

  .find-split > div:nth-child(2) {
    margin-right: 0;
    width: 48.5%;
  }

  .find-split > div:last-child {
    margin-right: 0;
    width: 100%;
  }

  .find-split .bt-googlemaps {
    height: 432px !important;
  }

  .find-split .bt-googlemaps {
    margin-bottom: 50px;
  }

  .half-split {
    float: left;
  }

  .half-split > div {
    float: left;
    width: 30%;
  }

  .half-split > div:last-child {
    width: 44%;
  }

  .find-split .social {
    float: right;
    margin-top: 120px;
  }

  .bebington section#g-mainbottom, .heswall section#g-mainbottom, .wallasey section#g-mainbottom{//, .contact-us section#g-mainbottom {
    display: none;
  }

  /*** CONTACT US ***/

  .map-split div.bt-googlemaps {
    height: 155px!important;
  }

  .cont-split > div {
    width: 54%;
    margin-right: 7%;
  }

  .cont-split > .times {
    padding-left: 2.2%;
    width: 36%;
  }

  .cont-split h4 {
    width: 36%;
    float: right;
    margin-bottom: 30px!important;
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
  }

  .cont-split {
    width: 100%;
  }

}

/*** MOBILE ***/

@media(max-width: 767px) {

  .mob-show {
    display: block;
  }

  .mob-hide {
    display: none !important;
  }

  /*** UNIVERSAL ***/

  .item-page > div > p:first-of-type {
    padding: 0;
    margin: 0 0 25px;
    border-left: none;
  }

  section#g-container-main {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .item-page > div > *:last-child {
    margin-bottom: 0;
  }

  #g-page-surround {
    min-height: auto;
  }

  .item-page > div > p, .item-page > div > h3 {
    margin-right: 0;
    margin-left: 0;
  }

  .tri-split > div {
    width: 100%;
    margin-right: 0;
    float: none;
  }

  .tri-split > div:last-child img {
     width: auto;
     margin: 40px auto 0;
     display: block;
  }

  .tri-split > div:last-child {
    width: 100%;
  }

  .tri-split {
    margin: 0;
  }

  .item-page > div > img {
    width: 100%;
    margin: 20px 0 40px;
  }

  /*** HEADINGS ***/
  h5 {
    margin-bottom: 30px;
    margin-top: 0;
  }

  /*** TOP ***/

  .top-strip > div {
    float: none;
  }

  .top .g-content {
    padding: 0 5px;
    margin: 0 0.625rem;
  }

  .top-strip p {
    font-size: 15px;
    line-height: 21px;
  }

  .top-strip b {
    display: table;
    float: right;
  }

  /*** HEADER ***/

  #g-header .g-content {
    padding: 0.938rem 5px;
  }

  .head > a {
    float: left;
    margin-bottom: 20px;
    width: 200px;
  }

  .head > div:nth-child(3) {
    float: none;
    margin-top: 0;
    clear: both;
  }

  .head > div p {
    text-align: center;
    color: #e1c721;
    font-size: 12px;
    margin-bottom: 0;
  }

  .tabber span {
    width: 43px;
    height: 6px;
    display: block;
    background-color: #FFF;
    margin-bottom: 10px;
  }

  .tabber.mob-show {
    margin-top: 20px;
    float: right;
    cursor: pointer;
  }

  /*** MENU ***/

  ul.nav.menuresp-menu {
    margin: 0;
    text-align: left;
    display: none;
  }

  ul.nav.menuresp-menu > li {
    position: relative;
  }

  ul.nav.menuresp-menu > li a {
    padding: 10px 0 6px 30px;
    display: block;
    color: #FFF!important;
    background-color: #012c19;
    border-bottom: 1px solid #024f2d;
  }

  ul.nav.menuresp-menu > li ul {
    display: none;
  }

  ul.nav.menuresp-menu > li ul a {
    padding-left: 50px;
  }

  ul.nav.menuresp-menu > li.current.active a {
    background-color: #024f2d;
  }

  .drop {
    position: absolute;
    width: 30px;
    height: 19px;
    top: 10px;
    right: 20px;
    cursor: pointer;
    background-image: url(/bv/images/icons/dwn.png);
    display: block;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  .drop.active {
    background-image: url(/bv/images/icons/up.png);
  }

  /*** SLIP QUOTE ***/

  #g-slip .g-content {
    padding: 0 5px;
  }

  .moduletable.slip-quote .g-particle {
    width: 100%;
  }

  /*** SLIDESHOW ***/

  .moduletable.slider {
    height: 175px;
    background-image: url(/bv/images/slides/mob-slide.jpg);
  }

  /*** BANNER ***/

  .banner {
    height: 120px;
  }

  .banner h2 {
    display: none;
  }

  /*** HOME ***/

  main#g-main-mainbody .g-content {
    padding: 0.938rem 5px;
  }

  div.home h2 {
    font-size: 33px;
    line-height: 34px;
  }

  div.home {
    text-align: justify;
    padding: 40px 0 0;
  }

  .home a.grn-butt {
    margin: 40px auto 0;
  }

  a.grn-butt {
    padding: 16px 55px;
  }

  /*** SERVICE INTRO ***/

  section#g-mainbottom {
    display: none;
  }

  .home section#g-mainbottom {
    display: block;
  }

  #g-mainbottom .g-content {
    margin: 0.625rem;
    padding: 0.938rem 5px;
  }

  .serv-intros {
    width: 100%;
  }

  .serv-intros > div {
    width: 100%;
    margin-right: 0;
  }

  .serv-intros img {
    margin: 0 auto 35px;
    display: block;
  }

  .serv-intros > div:nth-last-child(-n+2) {
    margin-bottom: 50px;
  }

  .serv-intros > div:last-child {
    margin-bottom: 0;
  }

  a.view-all {
    padding: 15px 35px;
    margin: 0 2%;
  }

  .viewall span {
    width: 11%;
  }

  .viewall {
    overflow: hidden;
    display: table;
    width: 259px;
    margin: auto;
  }

  /*** FEEDS ***/

  section#g-extension {
    display: none;
  }

  /*** BOTTOM ***/

  .home section#g-bottom {
    display: none;
  }

  /*** FIND US INTRO ***/

  section#g-lowest {
    padding: 0;
  }

  section#g-lowest .g-content {
    margin: 0.625rem;
    padding: 0.938rem 5px;
  }

  .find-us-intro {
    margin: 0;
  }

  .find-us-intro > div:first-child {
    display: none;
  }

  .find-us-intro > div:last-child {
    float: none;
    width: 100%;
  }

  a.location-butt {
    margin: 71px auto 0;
  }

  /*** FOOTER ***/

  #g-footer {
    padding: 15px 0;
  }

  .foot > div:nth-child(2) {
    width: 100%;
    margin-right: 0;
  }

  footer#g-footer .g-content {
    margin: 0.625rem;
    padding: 0.938rem 5px;
  }

  .address {
    text-align: left;
  }

  .address > div {
    width: 48%;
    margin-right: 4%;
    font-size: 13px;
    margin-bottom: 20px;
  }

  #g-footer p.mob-show b {
    font-size: 14px;
  }

  #g-footer p.mob-show {
    clear: both;
    text-align: left;
    font-size: 15px;
  }

  .address > div:nth-child(2n) {
    margin-right: 0;
  }

  .address > div:nth-child(2n+1) {
    clear: left;
  }

  .address > .mob-show {
    text-align: center;
  }

  .address p {
    line-height: 16px;
  }

  .foot .social {
    float: none;
    margin: 30px auto 0;
    display: table;
  }

  /*** COPYRIGHT ***/

  .copy .copy > p {
    width: 100%!important;
    text-align: center;
    margin: 0;
    float: none;
  }

  .copy .copy > p:nth-child(2) {
    width: auto;
    float: none;
    margin-top: 10px;
  }

  /*** MEET THE TEAMS ***/

  .team {
    margin-bottom: 35px;
    padding-bottom: 35px;
  }

  .meet-the-team .item-page h2, body.services .item-page h2 {
    margin: 0 0 25px;
  }

  .meet-the-team .item-page > div > p:first-of-type, body.services .item-page > div > p:first-of-type {
    text-align: justify;
    margin: 0 0 35px;
  }

  .team h3 {
    margin: auto;
  }

  .team > div {
    float: none;
    width: 80%;
    margin: 0 auto 35px;
  }

  .team > div:nth-child(3n+1) {
    margin-right: auto;
  }

  .team > div:last-child {
    margin-bottom: 0;
  }

  /*** PRACTICES ***/

  .find-split {
    margin-top: 40px;
  }

  .find-split > div {
    width: 100%;
    margin-right: 0;
  }

  .find-split > div:nth-child(2) {
    width: 100%;
  }

  .find-split .bt-googlemaps {
    height: 338px !important;
    margin-bottom: 20px;
  }

  .find-split > div:last-child {
    margin-right: 0;
    width: 100%;
    margin-top: 40px;
    position: relative;
  }

  .half-split {
    float: none;
  }

  .half-split > div {
    float: none;
    width: auto;
  }

  .half-split > div:last-child {
    width: auto;
  }

  .find-split .social {
    position: absolute;
    right: 0;
    top: 114px;
    margin-top: 0;
  }

  /*** GALLERY ***/

  ul.sigProClassic li.sigProThumb {
    width: 50%;
    height: 133px;
  }

  li.sigProThumb * {
    height: 133px !important;
  }

  /*** NEWSLETTER ***/

  div.newsletter {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  div.newsletter:nth-last-child(-n+3) {
    margin-bottom: 20px;
  }

  div.newsletter:last-child {
    margin-bottom: 0;
  }

  .newsletter h4 {
    margin-top: 0;
  }

  /*** CONTACT ***/

  .cont-split > div {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .cont-split h4 {
    width: auto;
    float: none;
    padding-left: 15px;
  }

  .info p:nth-child(-n+3) a {
    display: block;
    float: none;
    margin-bottom: 35px;
  }

  .cont-split > .times {
    padding-left: 15px;
    width: 100%;
    margin-bottom: 0;
  }

  .map-split > div:last-child {
    margin-right: auto;
    margin-bottom: 0;
  }

  .map-split > div {
    width: 80%;
    float: none;
    margin: 0 auto 30px;
  }

  .contact-us section#g-mainbottom {
    background-color: #f7f7f7;
    padding: 0;
    margin-top: 0;
    display: block;
  }

  /*** SERVICES ***/

  div.services > div {
    width: 100%;
    float: none;
    margin-right: 0;
    margin-bottom: 35px;
  }

  div.services > div:last-child {
    margin-bottom: 0;
  }

  div.services > div:nth-last-child(-n+4) {
        margin-bottom: 35px;
   }

  div.services img {
    margin: 0 auto 35px;
    display: block;
  }
}